.slick-slide {
  transition: all 0.3s ease-in-out;
  height: 65vh;
}

.slick-slide:hover {
  transform: scale(0.95);
}

.carousel {
  margin-top: 5vh;
  a,
  a:link,
  a:visited,
  a:active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    color: white;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.6;
  }
}
