.slick-slide {
  .card-img-top {
    height: 350px;
  }
  .card-body {
  }
  transition: all 0.3s ease-in-out;
}

.slick-slide:hover {
  transform: scale(0.97);
}

.carousel {
  a,
  a:link,
  a:visited,
  a:active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    color: white;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.6;
  }
}
